!!! 5
%html
  %head
    %title Animated Twitter Test

    = stylesheet_link_tag "normalize", "main"
    = javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js"
    = javascript_include_tag  "all"

    %body
      = yield
